<div class="blog-post-small">
	{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
	{% capture category %}{{ post.categories | size }}{% endcapture %}
	<time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span>/<span class='day'>%d</span>"}} : </time>
	<a href="{{ root_url }}{{ post.url }}">{{post.title}}</a>
	{% if category != '0' %}
	<p>
	  <span class="categories">posted in {{ post.categories | category_links }}</span>
	</p>
	{% endif %}
</div>
