<div class="blog-post-small">
	{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
	{% capture category %}{{ post.categories | size }}{% endcapture %}
	{% capture tag %}{{ post.tags | size }}{% endcapture %}
	<time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span>/<span class='day'>%d</span>"}} : </time>
	<a href="{{ root_url }}{{ post.url }}">{{post.title}}</a>
	{% if category != '0' %}
	<p>
	  <span class="categories">posted in {{ post.categories | category_links }}</span>
	</p>
	{% endif %}
	{% if tag != '0' %}
	<p>
    {% if category != '0' %}
    <span class="tags">, tagged as {{ post.tags | tag_links }}</span>
    {% else %}
    <span class="tags">Tagged as {{ post.tags | tag_links }}</span>
    {% endif %}
	</p>
  {% endif %}
</div>
